// Font

@font-face {
    font-family: 'Sequel Sans Bold Body';
    src: url('./fonts/sequel/SequelSans-BoldBody.woff2') format('woff2'),
        url('./fonts/sequel/SequelSans-BoldBody.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sequel Sans Light Body';
    src: url('./fonts/sequel/SequelSans-LightBody.woff2') format('woff2'),
        url('./fonts/sequel/SequelSans-LightBody.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Sequel Sans Heavy Head';
    src: url('./fonts/sequel/SequelSans-HeavyHead.woff2') format('woff2'),
        url('./fonts/sequel/SequelSans-HeavyHead.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Athlone';
    src: url('./fonts/athlone/AthloneDEMO.woff2') format('woff2'),
        url('./fonts/athlone/AthloneDEMO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
